<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-image: url(https://wallpapercave.com/wp/wp6391159.jpg)"; >
<center> 
        <h1 style="color: yellow;">this is my frist HTML page in csk</h1>
        <h1 style="color: yellow;">DHONI TO rohit</h1>
        <a href="{% url 'rohit' %}" style="color: yellow;">navigate from rohit</a><br>
        <a href="{% url 'virat:virat' %}" style="color: yellow;">navigat from virat</a>
    </center>
</body>
</html>