<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style= "background-image: url(https://i.pinimg.com/originals/c7/8c/27/c78c27d7965d720a26d34883088e714a.jpg);">
    <center>
        <h1 style="color:blue">this ia second HTML page in mi</h1>
        <h1 style="color: blue;">Rohit TO Virat</h1>
        <a href="{% url 'virat:virat' %}" style="color: blue;">navigate from virat</a><br>
        <a href="{% url 'dhoni:dhoni'%}"style="color: blue;">navigate from dhoni</a>
    </center>
</body>
</html>