<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-image: url(https://wallpapercave.com/dwp2x/wp3978069.jpg);">
    <center>
        <h1 style="color: red;">THIS IS A VIRAT HTML PAGES ------3</h1>
        <h1 style="color: red;">VIRAT TO DHONI</h1>
        <a href="{% url 'dhoni:dhoni' %}" style="color: red;"> navigate to  dhoni</a><br>
        <a href="{% url 'rohit' %}" style="color: red;">navigate from rohit</a>
    </center>
</body>
</html>